@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

html, body, #app {
    height: 100%;
}

body {
    background-color: hsl(0, 0%, 3%);
}

#app {
    min-height: 100%;
}

i {
    margin-right: 0.5rem;
}

.spacer {
    margin-top: 2%;
}