@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");



#hidden-id {
  display: none;
}

body {
  min-height: 100vh;
  background: rgb(33, 22, 68);
  background: linear-gradient(
    0deg,
    rgba(33, 22, 68, 1) 0%,
    rgba(19, 35, 60, 1) 100%
  );
  overflow-y: auto;
  overflow-x: hidden;
}

#app {
  min-height: 100%;
}

#nav-main {
  background-color: #04051b;
}

#category-title {
  font-size: 1.7rem;
  color: #d9d9d9;
}

ul li a:hover:not(.active-tab), ul a:hover {
  background-color: transparent !important;
  color: #2ee7ff !important;
}

::placeholder {
  color: #d9d9d9 !important;
  opacity: 0.35;
}

i {
  margin-right: 0.5rem;
}

.active-tab {
  background-color: #732cd66e;
  color: white !important;
}

.spacer {
  margin-top: 2%;
}

.card {
  cursor: pointer;
}

.card-header {
  transition: background-color 300ms ease;
}

.card-header:hover {
  background-color: #2cb3c586;
}

.controlx {
  display: block;
  position: relative;
  margin-right: 40px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 18px;
}
.controlx input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: -3px;
  left: 0;
  height: 25px;
  width: 25px;
  background: #9fbdffce;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.controlx:hover input ~ .control__indicator,
.controlx input:focus ~ .control__indicator {
  background: #ccc;
}
.controlx input:checked ~ .control__indicator {
  background: #3e8ed0;
}
.controlx:hover input:not([disabled]):checked ~ .control__indicator,
.controlx input:checked:focus ~ .control__indicator {
  background: #26daf1;
}
.controlx input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.controlx input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 15px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.new-project-label-icon {
  color: rgb(48, 184, 48);
}

#new-project:hover {
  color: rgb(48, 184, 48) !important;
}

#default-project {
  color: #b3b3b3e3;
}

#default-project {
  text-indent: 1rem;
}

#project-link-list {
  text-indent: 1rem;
}

#page-title {
  color: #d9d9d9;
  margin-bottom: 1rem;
}

#categories input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#categories label {
  display: inline-block;
  background-color: #13143c;
  color: #c4c4c4;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 1rem;
  border: 1px solid #742cd6;
  border-radius: 6px;
  transition: all 250ms ease;
}

#categories label:hover {
  background-color: #7927ec;
  color: white;
}

#categories input[type="checkbox"]:checked + label {
  background-color: #8b39ff;
  color: white;
}

#deadline-label, #project-label {
  font-size: 0.9rem;
  color: #d9d9d9;
}

#cat-tags span {
  height: 1rem;
}

#modal-title {
  text-transform: uppercase;
}

#modal-window, #project-modal-window {
  display: none;
  z-index: 9999;
  overflow: auto;
  opacity: 0;
  animation: fade-in 300ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#modal-header, #project-modal-header {
  background-color: #13143c;
}

#modal-card, #project-modal-card {
  width: 65%;
  max-width: 860px;
}

#project-selector {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#move-project {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.is-flex {
  display: flex;
}

@media screen and (max-width: 1023px) {
  #modal-card, #project-modal-card {
    width: 100%;
    margin: 0;
  }
  .modal-open {
    overflow: hidden;    /* PREVENTS BODY FROM SCROLLING WHILE MODAL IS OPEN */
    position: fixed;
  }
}




@media screen and (max-width: 1266px) {
  #content-spacer-left, #content-spacer-right {
    display: none;
  }

  #content-right {
    width: 80%;
  }

  #mobile-column {
    width: 100%;
    margin: 0 auto;
  }

  #modal-card, #project-modal-card {
    width: 85%;
    height: 50vh;
  }
  .card {
    width: 90%;
    margin: 0 auto;
  }
}

.fwidth {
  width: 100%;
}

#project-footer-elements, #footer-elements {
  display: flex;
  
}

#footer-elements {
  width: 100%;
}

#deadline-countdown {
  
}

#project-footer-elements {
  margin-left: auto;
  width: 50%;
}

#project-modal-save, #modal-save {
  width: 100%;
}

#project-modal-cancel, #modal-cancel {
  width: 50%;
  background-color: transparent;
  color: #d9d9d9;
}

.no-border-top {
  border-top: none;
}


/* #footer-elements {
  width: 100%;
  justify-content: space-around;
}
 */
.low-priority {
  border-right: 6px solid #2398f8 !important;
}

.medium-priority {
  border-right: 6px solid #c4ec11 !important;
}

.high-priority {
  border-right: 6px solid #e29c19 !important;
}

.urgent-priority {
  border-right: 6px solid #b4231e !important;
}

#status-light {
  flex: 1;
  width: 5%;
  color: red;
  font-size: 1.5rem;
}

.trash-hover {
  transition: all 200ms ease;
}

.trash-hover:hover {
  transform: scale(1.3);
  color: rgb(122, 0, 0) !important;
}
/* lightpurple - #2cb3c5  seafoam - #6743d0  darkpurple - #13143c  midpurple - #742cd6*/
